/Library
/.git
/.vs
/BuildOutput
.vs/TraverserProject/FileContentIndex/0a84ecac-c62e-4080-963c-06a0df161bc1.vsidx
.vs/TraverserProject/FileContentIndex/82c66f5e-a404-4030-812e-d9bdfe9acd25.vsidx
.vs/TraverserProject/FileContentIndex/8dd932f6-c921-4822-9d70-c1c7eefef1a7.vsidx
.vs/TraverserProject/v17/.suo
.vs/TraverserProject/v17/DocumentLayout.json
.vs/TraverserProject/v17/fileList.bin
Temp/FSTimeGet-1e0da4261f289fd4cad8aa7b689dce89
/.vs
/.vs/TraverserProject/FileContentIndex
/.vs/TraverserProject
Temp/UnityLockfile
Temp/workerlic
